div
  p Hello Pug!
  button Click Me

// <div>
//   <p>Hello Pug!</p>
//   <button>Click Me</button>
// </div>

div.container
  p#hello Hello Pug!
  button.btn.btn-blue Click Me

// <div class="container">
//   <p id="hello">Hello Pug!</p>
//   <button class="btn btn-blue">Click Me</button>
// </div>

img(src="fish.png" alt="A big fish")

// <img src="fish.png" alt="A big fish">

p Hello my name is #{name}

// <p>Hello my name is Ayo</p>
